@import '_smartTip.scss';
@import '_setup.scss';

// Variables 
$smartTip : #f44008;
$smartTipBrdr: solid  10px;

@mixin width {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}



.wrapper {
    @include width;
	a {
		text-decoration: none;
	}
	li {
	}
}

.content {

}

body {
	padding: 100px;
}



