@import '_smartTip.scss';
@import '_setup.scss';
@import '_header.scss';
@import '_typography.scss';
@import '_code.scss';

// VARIABLES 
$smartTip : #1c2a43;
$mainColor: #29aed9;



// MIXINS 
@mixin width {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

@mixin linkButton {
		border: 1px solid white;
		font-size: 1.2em;
		padding: 10px 20px;
		border-radius: 2px;
		text-decoration: none;
		color: white;
		background:$mainColor;
		transition: background 0.3s, color 0.1s;
			&:hover {
			background:white;
			color:$mainColor;
			}
}

//main ELEMENTS, CLASSES, IDs... sections
body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f5efe5;
  background: $mainColor;
}

section {
	padding: 100px 0;
}


.wrapper {
	@include width;
}

.content {

}

.hero {
	padding: 100px 0 50px 0;
	margin: 0 auto;
}

#title {
	@include width;
	margin: 70px auto 100px auto;
		p {
			margin-bottom: 26px;
		}
		a { 
		@include linkButton;
		}
}

section.topcredits {
	padding: 0 0 75px 0;
	margin: 0;
}

section .credits.left {
  float: left;
}
section .credits.right {
  float: right;
}


