doctype html
html(lang="en")
  head
    title= 'smartTips - a dynamic jQuery tooltip generator'
    link(rel="stylesheet" href="css/main.css")
  body
    div.wrapper
      header.hero
        h1 smartTips &ndash; a dynamic jQuery tooltip generator 
        p.
           Lorem ipsum dolor sit amet, 
           consectetur adipisicing elit. 
           Expedita minus eligendi, 
           est qui quae eius nemo, lorem ipklkk
           harum ipsam illo facere magni. doobie do
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="js/stringFinder.js")
