doctype html
html(lang="en")
  head
    title= 'smartTips - a dynamic jQuery tooltip generator'
    link(rel="stylesheet" href="css/main.css")
  body
    div.wrapper
      header.hero
        h1 smartTips &ndash; a dynamic jQuery tooltip generator 
        p.
           a jQuery plugin that finds strings 
           in your web project and returns 
           fully stylable tooltips with test 
           that you define
      section.about
        h2 what is smartTips?
        p.
          smartTips is a dynamic tooltip finder
    // scripts start  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="js/smartTips.js")
    // scripts end